
@page "/general-department"
@using BaseLibrary.Entities
@using Client.ApplicationState
@* @inject DepartmentState departmentState *@


@if (allState.ShowGeneralDepartment)
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-start">General Department</h4>
                        <button class="btn btn-outline-success float-end" @onclick="OpenDialog"><i class="bi bi-plus-circle-dotted"></i> Add Department</button>
                    </div>
                    <div class="card-header">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">General Department</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(GeneralDepartments is not null)
                                    {
                                        int count = 1;
                                        foreach(var item in GeneralDepartments)
                                        {
                                            <tr>
                                                <th scope="row">@count</th>
                                                <td>@item.Name</td>
                                                <td>
                                                    <i class="bi bi-pencil text-info" id="cursorStyle" @onclick="()=>EditClicked(item)"></i>
                                                    @* <i class="bi bi-trash text-danger" id="cursorStyle" @onclick"()=>DeleteClicked(item)"></i> *@
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                      
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- Modal component -->
<GeneralDepartmentDialog @ref="generalDepartmentDialog" HandleSaveOperationEvent="HandleSaveOperationEvent" GeneralDepartment="GeneralDepartment"/>

@code {
    GeneralDepartmentDialog generalDepartmentDialog;
    GeneralDepartment GeneralDepartment = new();
    public string Title { get; set; } = "Add";
    public List<GeneralDepartment> GeneralDepartments = new();

    private void OpenDialog()
    {
        generalDepartmentDialog.OpenDialog();
    }

    protected override async Task OnInitializedAsync()
    {
        await GetGeneralDepartments(); 
        allState.Action += StateHasChanged;
    }

    private async Task GetGeneralDepartments()
    {
        GeneralDepartments = await generalDepartmentService.GetAll(Constants.GeneralDepartmentBaseUrl);
    }

    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }

    private async Task HandleSaveOperationEvent(GeneralDepartment generalDepartment)
    {
        bool successCheck = false;
        if (generalDepartment.Id is null)
        {
            var response = await generalDepartmentService.Insert(generalDepartment, Constants.GeneralDepartmentBaseUrl);
            successCheck = await DisplayMessage(response.Flag, response.Message);
        }
        else
        {
            var result = await generalDepartmentService.Update(generalDepartment, Constants.GeneralDepartmentBaseUrl);
            Console.WriteLine(result);
            successCheck = await DisplayMessage(result.Flag, result.Message);
        }

        if (successCheck)
        {
            GeneralDepartment = new();
            await GetGeneralDepartments();
            generalDepartmentDialog.ChangeTitle("Add");
        }
    }

    private async Task<bool> DisplayMessage(bool flag, string message)
    {
        if (flag)
        {
            Console.WriteLine(message, "Success operation");
            return true;
        }
        else
        {
            Console.WriteLine(message, "Alert");
            return false;
        }
    }

    public void EditClicked(GeneralDepartment dep)
    {
        generalDepartmentDialog.ChangeTitle("Update");
        GeneralDepartment = dep;
        OpenDialog();
    }

    // public void DeleteClicked()
    // {
        
    // }
}

